.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 1px solid silver;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(188, 243, 243);
}

.list {
    list-style: none;
}
.filterButton {
    margin-left: 3px;
}
.error {
    border: red 1px solid;
}
.errorMessage {
    color: red;
    font-size: 0.8em;
    margin-bottom: 5px;
}
.activeFilter {
    background-color: lightgreen;
    margin-left: 3px;
    border-radius: 3px;
}
.isDOneStyle {
    opacity: 0.5;
}
