.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 1px solid silver;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(188, 243, 243);
}

.list {
    list-style: none;
}
.filterButton {
    margin-left: 3px;
}